<!DOCTYPE html>
<html>

<head>
  <title>Basic Web Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@3"></script>
  <style>
    p {
      margin: 4px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div id="foo">
    <div id="foo">
      <div style="display: flex; flex-direction: column; align-items: center">
        <form style="display: flex; flex-direction: column; align-items: center">
          <label>Wzrost:
            <input type="number" v-model="wzrost" /> m
          </label>
          <label>
            Masa ciala:
            <input type="number" v-model="masa" /> kg
          </label>
        </form>
        <p>BMI: {{computedBMI}}</p>
      </div>
    </div>
  </div>
</body>
<script>
  Vue.createApp({
    data() {
      return {
        wzrost: 0,
        masa: 0,
      };
    },
    computed: {
      computedBMI() {
        return (this.masa / (this.wzrost ** 2) || 0).toFixed(2);
      }
    },
  }).mount("#foo");
</script>

</html>